/**********************************************************************************************************************************************************
* COLORS
*********************************************************************************************************************************************************




/**********************************************************************************************************************************************************
* CONTENT
**********************************************************************************************************************************************************/

/*
 *--------------------------
 *  Grid Styles
 *--------------------------
 */

#grid {
	text-align: center;
	margin: 0 auto 0 auto;
	border-collapse: collapse;
}

.snake-row {
	width:100%;
}

.snake-cell {
	width:20px;
	height:20px;
	border: 1px solid green;
}

.top-right {
	background-color: red;
}
/**********************************************************************************************************************************************************
 * FOOTER
 *********************************************************************************************************************************************************/

/**********************************************************************************************************************************************************
 
 *********************************************************************************************************************************************************/
