/**********************************************************************************************************************************************************
 * IMPORTED STYLES
 *********************************************************************************************************************************************************/
/* Application styles */
@import url('application/grid.css');
@import url('application/snake.css');

/* Library styles */
@import url('libs/1140/1140.css');
@import url('libs/normalize/normalize.css');


/* Plugin styles */
@import url('');
/**********************************************************************************************************************************************************
* FONT KITS
*********************************************************************************************************************************************************/

/**********************************************************************************************************************************************************
* COLORS
*********************************************************************************************************************************************************
    Type:                           
    Dividers/border:                
    colum articles:                 
*/

/**********************************************************************************************************************************************************
 * DEFAULTS/NORMALIZATIONS/BODY
 *********************************************************************************************************************************************************/
* {
    margin:0;
    padding:0;
}

html {
    font-size: 62.5%;
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
}

body img {
    width: auto;
}

/*
 *--------------------------
 * Headers
 *--------------------------
 */

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 5.4rem;
    font-size: 54px;
}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

h6 {

}
/*
 *--------------------------
 * Links 
 *--------------------------
 */

a {
    
}

a:hover {

}

a:visited {

}

a img {
    outline: none;
    border: none;
}

a h2:hover {
    text-decoration: underline;
}

/*
 *--------------------------
 * Lists 
 *--------------------------
 */

ul {
    padding:0;
    marign:0;
}

li {
    list-style-type: none;
    display: block;
}

/**********************************************************************************************************************************************************
 * HEADER/NAVIGATION
 *********************************************************************************************************************************************************/

/**********************************************************************************************************************************************************
* CONTENT
**********************************************************************************************************************************************************/

/*
 *--------------------------
 *  Main Content 
 *--------------------------
 */

/**********************************************************************************************************************************************************
 * FOOTER
 *********************************************************************************************************************************************************/

/**********************************************************************************************************************************************************
 
 *********************************************************************************************************************************************************/
